
@{
    ViewData["Title"] = "About";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>@ViewData["Title"] the project.</h1>
            <h5>What is this project about ? </h5>
            <p>Well this is a very simple Search Engine System.</p>
            <h5>Why am I doing this ??</h5>
            <p>Well I've always been so passionate about Google, mainly in their search system , so I decided to build my own, of course, this is a pretty
                much simple version of google and I most focus on the basic of what is a search engine system.
            </p>
            <h5>So, what are all the features that there are in this project ?</h5>
            <p>Well, as I said I'm trying to create an entire search system, so, here you are going to find all the basic stuffs, such as, We are going to deal with web crawling
                to get bunch of links in order to make sure that the user is going to find multiple pages/websites about a specific thing the user searched for , we are going to deal
                with indexing and ranking all this links in order to rate them from the most useful or visited website/link to the least.
            </p>
            <button type="button" class="btn btn-success">
                <a id="buttonAbout" asp-controller="Home" asp-action="Index">Go back</a>
            </button>
        </div>
    </div>
</div>


