@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container ">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">My Own Search Engine</h1>
            <div class="col-md-6 offset-md-3 mainContent">
                <form autocomplete="on" method="get">
                    <input class="form-control customSearchForm" type="search" id="search" placeholder="Type your search" required />
                </form>
            </div>
            
        </div>
    </div>
    
</div>
