        <footer>
            <hr/>
            <h5>My Own Search Engine</h5>
            <p>&copy;Luan Gonçalves Oliveira</p>
            <p></p>
        </footer>
    </body>

    <!---JS SCRIPTS--->
    <!--BOOTSTRAP SCRIPT--->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>